html {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-color: #FFF;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

nav ul li {
    height: 20%;
    background-image: linear-gradient(to left, #254EA2 0%, #254EA2 30%, rgb(199, 220, 220) 0%);
    display: flex;
    align-items: center;
    border-width: 2px;
    border-color: #000;
    border-style: solid solid none solid;
    font-size: 24px;
    box-sizing: border-box;
}
nav ul li:first-child a {
    text-transform: uppercase;
    color: #EF3924;
}
nav ul li:last-child {
    border-bottom-style: solid;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 3em 1em 1em;
    margin: 4px 0;
}

section {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section > div {
    width: 25%;
    min-width: 20em;
    box-sizing: border-box;
    padding: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 196, 69) rgb(209, 184, 58) rgb(209, 184, 58) rgb(221, 196, 69);
    background-color: rgb(221, 194, 60);
    background-image: radial-gradient(ellipse at bottom, rgb(221, 194, 60) 50%, rgb(197, 171, 38));
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    min-height: 20%;
    text-align: center;
}
section:nth-child(2n-1) > div {
    border-color: rgb(221, 194, 60) rgb(218, 161, 57) rgb(218, 161, 57) rgb(202, 180, 68);
    background-color: rgb(221, 165, 60);
    background-image: radial-gradient(ellipse at bottom, rgb(221, 173, 83) 50%, rgb(221, 165, 60));
}

#via > div {
    width: 70%;
    background-image: radial-gradient(ellipse at bottom, #FFF 50%, #F0F0f0);
    background-color: #FEFEFE;
    border-color: #FFF;
}

h1 {
    text-transform: uppercase;
    background-color: #EF3924;
    color: #fff;
    font-size: 82px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    line-height: 90%;
    padding: 1.5% 1% 0 1%;
    margin: 0;
    display: inline-block;
}

h2 {
    font-size: 24px;
    margin: .5em;
    font-weight: 300;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

@media screen and (orientation: landscape) and (max-width: 1280px) {
    nav ul li {
        font-size: 16px;
    }
}

@media screen and (orientation: portrait) {
    nav {
        top: 10%;
        left: 0;
        width: 100%;
        margin: auto;
    }
    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
    }
    nav ul li {
        display: flex;
        flex-grow: 1;
        align-items: end;
        text-align: center;
        height: 10em;
        background-image: linear-gradient(to bottom, rgb(24, 59, 129) 0%, #254EA2 30%, rgb(199, 220, 220) 0%);
        border-width: 2px;
        border-color: #000;
        border-style: solid none solid solid;
        font-size: 16px;
    }
    nav ul li:last-child {
        border-right-style: solid;
    }
    nav ul li a {
        padding: 0;
        transform-origin: left center;
        position: relative;
        left: 50%;
        transform: rotateZ(-90deg);
    }
    nav ul li:first-child {
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    nav ul li:first-child a {
        position: initial;
        left: auto;
        font-size: 20px;
        font-weight: 400;
        transform: rotateZ(0);
    }
    section {
        width: 100%;
    }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
    nav {
        position: fixed;
        bottom: auto;
        right: 0;
        left: 0;
        top: 0;
        height: 25%;
        display: flex;
        align-items: end;
        
    }
    nav ul {
        position: relative;
        max-width: 100%;
    }
    nav ul li {
        width: 20%;
    }
    nav ul li a {
    }
    section>div,
    #via>div {
        width: 96%;
        min-width: auto;
        padding: 3em 1em;
    }
    section>div {
        padding: .5em;
    }
    h1 {
        font-size: 40px;
        padding: 3% 2% 0 2%;
        line-height: 90%;
    }
    h2 {
        font-size: 16px;
    }
}
@media screen and (orientation: landscape) and (max-width: 1366px) {
    #via > div {
        width: 70%;
    }
    h1 {
        font-size: 60px;
    }
    section div {
        width: 60%;
    }
}
@media screen and (orientation: landscape) and (max-width: 767px) {
    #via > div {
        width: 80%;
    }
    h1 {
        font-size: 50px;
    }
}

@media screen and (orientation: landscape) and (max-width: 568px) {
    #via > div {
        width: 90%;
    }
    h1 {
        font-size: 38px;
    }
    section {
        width: 70%;
    }
    nav {
        width: 30%;
    }
}